@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body{
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* screen 1 */

.screen1{
width: 335px;
height: 365px;
background-color: hsl(213, 19%, 18%);
border-radius: 15px;
margin: 10px;
padding: 20px;

}

.screen1 img{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  
}

.oval{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsla(212, 18%, 29%, 0.37);
  color:hsl(217, 12%, 63%) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;

}
p{
  color: hsl(217, 12%, 63%);
  font-weight: 300;
  margin-bottom: 20px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
li{
 
  width: 50px;
  height: 50px;
}

button{
  width: 100%;
  height: 50px;
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}


/* Screen 2 */
#container2{
  display: none;
}
.screen2{
  width: 335px;
  height: 365px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen2 img{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.rOutput{
  color:hsl(25, 97%, 53%) ;
  background-color: hsla(212, 18%, 29%, 0.37);
  width: 60%;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 25px;
}

.screen2 p{
  color: hsl(217, 12%, 63%);
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}


/* Footer elements */

.attribution {
  font-size: 11px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: hsl(228, 45%, 44%);

}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Responsive section */
@media (min-width: 376px) {
  /* Styles for screens wider than 375px (e.g., small tablets) */

  .rating-container {
    flex-direction: row;
  }
}

@media (min-width: 1441px) {
  /* Styles for screens wider than 1440px (e.g., desktops) */
}