@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Responsive section */
@media (min-width: 376px) {
  /* Styles for screens wider than 375px (e.g., small tablets) */

  .rating-container {
    flex-direction: row;
  }
}

@media (min-width: 1441px) {
  /* Styles for screens wider than 1440px (e.g., desktops) */
}